{% extends "blogs/base.html" %}

  {% block ext_head %}
  <title>易先生的世界</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .hero-unit {
      padding: 10px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
  </style>
  <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                  <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                 <link rel="shortcut icon" href="../assets/ico/favicon.png">
  <script type='text/javascript'>
  (function (d, t) {
		var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
		bh.type = 'text/javascript';
		bh.src = '//www.bugherd.com/sidebarv2.js?apikey=nr5zwnalnnlydiuby5dxnw';
		s.parentNode.insertBefore(bh, s);
	})(document, 'script');
  </script>

  {% endblock %}

{% block main_content %}
  <div class="hero-unit">
    <div class="row-fluid">
      <div class="span6">
        <div><h3>Hello, world!<h3></div>
        <p>最是那一指间的温柔，像一朵水莲花不胜凉风的娇羞，<br/>
           翻山越岭我只为见你，你却道一声只轻轻的~HELLO~
        <p/>
      </div>
      <div class="span6">
        <br/><br/><a class="btn btn-primary btn-large" href="/about/">Learn more &raquo;</a>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    {% for blog in blogs|slice:":3" %}
    <div class="span4">
      <h4 title="{{blog.title}}">{{blog.title|slice:"15"}}</h4>
      <p>{{blog.brief}}</p>
      <p><a class="btn" href="{{blog.detail_url}}" target="_blank">查看 &raquo;</a></p>
    </div><!--/span-->
    {% endfor %}
  </div><!--/row-->
  {% if blogs|length > 3 %}          
  <div class="row-fluid">
    {% for blog in blogs|slice:"3:" %}
    <div class="span4">
      <h4 title="{{blog.title}}">{{blog.title|slice:"15"}}</h4>
      <p>{{blog.brief}}</p>
      <p><a class="btn" href="{{blog.detail_url}}" target="_blank">查看 &raquo;</a></p>
    </div><!--/span-->
    {% endfor %}
  </div><!--/row-->
  {% endif %}
    <!-- start show pages -->
    <div class="pagination pagination-left">
      <ul>
      {% if blogs.has_previous %}
        <li><a href="?page={{ blogs.previous_page_number }}">上一页</a></li>
      {% endif %}
      {% for item in blogs.paginator.page_range %}
        <li><a {% if item == blogs.number %}href=""{% else %}href="?page={{ item }}"{% endif %}>{{ item }}</a></li>             
      {% endfor %}
      {% if blogs.has_next %}
        <li><a href="?page={{ blogs.next_page_number }}">下一页</a></li>
      {% endif %}
        <li>{{blogs.number}}/{{blogs.paginator.num_pages}}页<li>
      </ul>
    </div>
    <!-- end show pages -->
{% endblock %}
